header {
    text-align: center;
    font-size: 120%;
    background-color: rgb(77, 96, 112);
}
.items{
    text-align: center;
}
.button {
    text-align: center;
    font-size: 200%;
}



footer {
    text-align: center;
    font-size: 200%;
}
.parent-list {
    text-align: center;
}
.ulist {
    font-size: 150%;
    display: inline-block;
    text-align: left;
    
   
}
.image1 {
    text-align: center;
}